# CMSE 202 Midterm Section 003

The goal of this midterm is to give you the opportunity to test out some of the skills that you've developed thus far this semester. In particular, you'll reflect on what you know about writing code using Python and showcase some of your new programming skills.

**Important note about using online resources:** This exam is "open internet". That means that you can look up documentation, google how to accomplish certain Python tasks, etc. Being able to effectively use the internet for computational modeling and data science is a very important skill, so we want to make sure you have the opportunity to exercise that skill. **However, the use of any person-to-person communication software is absolutely not acceptable.**

**Do your own work.** This midterm is designed to give you the opportunity to show the instructor what you can do and you should hold yourself accountable for maintaining a high level of academic integrity. Any violation of academic integrity could result in you receiving a zero on the midterm.

You are encouraged to look through the entire exam before you get started so that you can appropriately budget your time and understand the broad goals of the exam.

If you have any questions during the exam, you may ask the instructor, the TA, or the LA privately; simply raise your hand and one of us will come over to you. 

### Content Knowledge Tested
- Using Github to save and track progress on your work
- Using Pandas to read, manipulate, and access data files
- Using documentation and examples to effectively utilitze unfamiliar Python packages 
- Writing new classes to effectively store complex datasets

## Part 0: Add to your Git repository to track your progress on your exam (10 points total)

Before you get to far along in the exam, you're going to add it to the `cmse202-S23-turnin` repository you created in class so that you can track your progress on the exam and preserve the final version that you turn in. In order to do this you need to

### &#9989; Part 0.1 (5 points):

1. Navigate to your `cmse202-S23-turnin` repository and create a new directory called `midterm`.
2. Move this notebook into that **new directory** in your repository, then **add it and commit it to your repository**.
1. Finally, to test that everything is working, "git push" the file so that it ends up in your GitHub repository.

**Important**: Double check you've added your Professor and your TA as collaborators to your "turnin" respository (you should have done this in the previous homework assignment).

**Also important**: Make sure that the version of this notebook that you are working on is the same one that you just added to your repository! If you are working on a different copy of the noteobok, **none of your changes will be tracked**!

The file should now show up on your GitHub account in the `cmse202-S23-turnin` repository inside the `midterm` directory you just created.  Periodically, **you'll be asked to commit your changes to the repository and push them to the remote GitHub location**. It can be good to get into a habit of committing your changes any time you make a significant modification.

### Part 0.2 (2 points):
&#9989; Before you move on, **put the command(s) that your instructor should run to clone your repository in the markdown cell below.**

In [1]:

# $git clone https://github.com/cartersmotherman/CMSE202-s23-turnin.git

## Part 1: Getting Data with Curl (3 points)

For this exam, you will be working with a dataset that contains **climate data (temperature and precipitation)** for several cities in Australia. 

First, let’s get our data files. 

&#9989; **Download the files using `curl` and the following links. Put the commands you used to download the files in the cell below.**

`https://raw.githubusercontent.com/msu-cmse-courses/cmse202-S23-data/main/meta_data.csv`

`https://raw.githubusercontent.com/msu-cmse-courses/cmse202-S23-data/main/aus_precip.csv`

`https://raw.githubusercontent.com/msu-cmse-courses/cmse202-S23-data/main/aus_temp.csv`

In [2]:
# !curl - O https://raw.githubusercontent.com/msu-cmse-courses/cmse202-S23-data/main/meta_data.csv
    
# !curl - O https://raw.githubusercontent.com/msu-cmse-courses/cmse202-S23-data/main/aus_precip.csv
    
# !curl -O https://raw.githubusercontent.com/msu-cmse-courses/cmse202-S23-data/main/aus_temp.csv

## Part 2: Reading the Data (5 points)

&#9989; **Read in the data files using Pandas (put your code in the cell below).** One of them has metadata about each location, one of them has precipitation values for each location, and the last one has the temperature values for each location.

In [15]:
#Write your code here
import pandas as pd

meta = pd.read_csv('meta_data.csv').dropna()
precip = pd.read_csv('aus_precip.csv').dropna()
temp = pd.read_csv('aus_temp.csv').dropna()

## Part 3: Using a "New" Package (15 points)
For this problem, we want you to use a new package that you aren’t as used to. Specifically, you’ll be using the [Plotly plotting package](https://plotly.com/python/). 

&#9989; Latitude and Longitude give you a position on the Earth. **Use the Plotly Express `scatter_geo` [Link to documentation](https://plotly.com/python-api-reference/generated/plotly.express.scatter_geo) plot to make a scatter plot of the city locations in the metadata dataframe.** You may use the starter code below to help!


**Hint:** You will need to provide the column names for the `lat` and `lon` arguments in `scatter_geo`. You should find that all of the data points are located in Australia!

In [17]:
#Write your code here
import plotly.express as px

lat = meta['latitude']
lon 
# px.scatter_geo(meta)

       city_name  latitude  longitude
0       Adelaide  -34.9289   138.6011
1         Albany  -35.0228   117.8814
2         Albury  -36.0806   146.9158
3   AliceSprings  -23.7000   133.8667
4       Ballarat  -37.5500   143.8500
5        Bendigo  -36.7500   144.2667
6       Brisbane  -27.4678   153.0281
7         Cairns  -16.9303   145.7703
8       Canberra  -35.2931   149.1269
9          Cobar  -31.4997   145.8319
10  CoffsHarbour  -30.3022   153.1189
11        Darwin  -12.4381   130.8411
12     GoldCoast  -28.0167   153.4000
13        Hobart  -42.8806   147.3250
14    Launceston  -41.4419   147.1450
15     Melbourne  -37.8136   144.9631
16       Mildura  -34.1889   142.1583
17         Moree  -29.4650   149.8344
18  MountGambier  -37.8294   140.7828
19     Newcastle  -32.9167   151.7500
20     Nuriootpa  -34.4667   138.9833
21       Penrith  -33.7511   150.6942
22         Perth  -31.9522   115.8589
23      Portland  -38.3333   141.6000
24      Richmond  -33.5983   150.7511
25          Sale  -38.1000   147.0667
26        Sydney  -33.8650   151.2094
27    Townsville  -19.2564   146.8183
28    WaggaWagga  -35.1189   147.3689
29    Wollongong  -34.4331   150.8831

---
### &#128721; STOP (1 point)
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit and push the changes to your Git repository.

---

## Part 4: Accessing Specific Data Values with Pandas (15 points)

For this part of the exam, we’ll walk through how to use Pandas to access specific pieces of information in our dataframes.

### 4.1 Getting the Metadata (5 points)

&#9989; **Use Pandas to access the value in the the 15th row and 2nd column in the metadata dataframe (I.e., the Longitude for Mildura).** *Hint: What is the easiest way to access data using index values?*

In [55]:
#Write your code here

### 4.2 Getting Temperature Data (5 Points)

&#9989; **Use Pandas to access the entire eighth column of data in the temperature dataframe (I.e., all the average temperature values for Canberra).** Try to use the same tools as the previous problem.

In [145]:
#Write your code here

### 4.3 Getting Precipitation Data (5 Points)

&#9989; **Use Pandas to access the entire eighth column of data in the precipitation dataframe (I.e., all rainfall values for Canberra).** Try to use the same tools as the previous two parts.

In [147]:
#Write your code here

## Part 5: Designing a Class (15 points)

The issue with this dataset is that it comes in two parts: the climate data and the metadata for each city. To make life easier, we’re going to combine both the data and the metadata by designing a new class, the `climate` class.

&#9989; **Write a new class for this climate data.** Your class should have the following: 
- Attributes for each piece of information in the metadata file (I.e., City Name, latitude, and longitude)
- Precipitation 
- Temperature 
- `get`-methods for both precipitation and temperature (for the sake of time, you don’t need to write `set`-methods or `get`-methods for any of the other attributes).

In [149]:
#Write class here

---
### &#128721; STOP (1 point)
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit  and push the changes to your Git repository.

---

## Part 6: Building Objects (15 points)

&#9989; **Construct `climate` objects for all of the climate (rainfall and temperature) measurements. Append all of the objects to a new list called `climate_objects`.**

In [151]:
#Write your code here

## Part 7: Converting Temperature Values (12 points)

*Note: You can complete parts 7.1 and 7.2 even if you did not complete Part 6*

### Part 7.1: Fixing the Problem (4 points)
&#9989; **All of the temperature values are in Celsius and need to be converted to Fahrenheit scaled with the equation $T_{Fahrenheit} = 1.8\times T_{Celsius}+32$, where $T_{Celsius}$ are the numbers you have in the `df_temp` dataframe, and $T_{Fahrenheit}$ is what you want to calculate. Write a new method in your `climate` class that does this.**

In [153]:
#Write your code here

### Part 7.2: Applying the Fix (4 points)
&#9989; **Call your method within the constructor method (I.e., the `__init__` method), so that it automatically converts the temperature values as it creates a new `climate` object.**

In [19]:
#Write your code here

### Part 7.3: Rebuilding (4 points)
&#9989; **Rerun your code from Part 6 to rebuild your objects with properly converted temperature values.**

In [157]:
#Write your code here

## Part 8: Make a Damn Plot (10 points)

&#9989; **Select one of your climate objects and use it to make a plot. Your plot should have Temperature on the x-axis and precipitation on the y-axis.**

*Note: You can complete this problem even if you did not complete Part 6 or 7. As long as you have A climate object.*

In [159]:
#Write your code here

---
### &#128721; STOP (1 point)
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit  and push the changes to your Git repository.

---

## You're done! Congrats on finishing your CMSE 202 Midterm!

Make sure all of your changes to your repository are committed and pushed to GitHub. Also upload a copy of this notebook to the dropbox on D2L in case something went wrong with your repository or if you couldn't get the repository to work.